[submodule "External/ocmock"]
	path = External/ocmock
	url = https://github.com/erikdoe/ocmock.git
[submodule "External/xcconfigs"]
	path = External/xcconfigs
	url = https://github.com/jspahrsummers/xcconfigs.git
